<h1>Dashboard</h1>
<p>HR has received an email regarding your new account. Until they update your permissions, you will not be able to access the data system. Sorry, we know it's annoying, but it's a crucial security precaution.</p>
