
<h1>Workorders awaiting approval</h1>
<%= render :partial => 'workorders/workorder_list', :object => @pending_workorders, :locals => {:empty_list_message => "No workorders reported"} %>

<h1>Workorders in progress</h1>
<%= render :partial => 'workorders/workorder_list', :object => @in_progress_workorders, :locals => {:empty_list_message => "No workorders reported"} %>
