<h1>Listing SIRs</h1>

<table style="border:0;">
  <tr>
    <td style="border:0;"><div id="slidingDatePicker" style="width:400px;height:60px;position:relative;"></div></td>
    <td style="border:0;"><div id="slidingDatePickerData" style="width:600px;height:80px;position:relative;overflow:hidden;"><i>Click a bar to show SIRs for that date</i></div></td>
  </tr>
</table>

<script>
  var values = <%= @sirs_histogram.to_json(:methods => [:involved]) %>;
  // console.log(values);
  var sdp = new SlidingDatePicker(document.getElementById("slidingDatePicker"), values);
</script>


<%= render :partial => 'sir_list', :object => @sirs, :locals => {:empty_list_message => "No SIRs reported"} %>

<p><span><%= paginate @page_number, @sirs.length, Sir.count, "sirs_path" unless @total_count < 0%></span></p>

<p>
<%= link_to 'New SIR', new_sir_path %>
</p>
