<p>
    To reset your password for the RDCC database system, click this link or copy & paste it into your browser:
</p>

<p>
    <a href="<%= @reset_link %>"><%= @reset_link %></a>
</p>

<p>
    This is a one-time-use link and will work only within the next 30 days.
</p>
