<h1>Forgot Password</h1>

<% form_tag forgot_password_path do -%>
<p><%= label_tag 'Enter your email' %><br />
<%= text_field_tag 'email' %>     <%= link_to 'wait, I remembered!', login_path %>
</p>

<p><%= button 'reset', 'Reset password' %>
</p>
<% end -%>

