<h1>New Workorder</h1>

<p>
  <b>Workorder ID:</b>
  <%= @workorder.id %>
</p>

<p>
  <b>Location:</b>
  <%=h @workorder.location %>
</p>

<p>
  <b>Description:</b>
  <%=h @workorder.description %>
</p>

<p>
  <b>Estimated completion:</b>
  <%=h @workorder.estimation %>
</p>

