<h1>Listing workorders</h1>

<%= render :partial => 'workorder_list', :object => @workorders, :locals => {:empty_list_message => "No workorders reported"} %>

<p>
  <%= link_to 'New workorder', new_workorder_path %>
</p>
