<h1>Listing incidenttypes</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @incidenttypes.each do |incidenttype| %>
  <tr>
    <td><%=h incidenttype.name %></td>
    <td><%= link_to 'Edit', edit_incidenttype_path(incidenttype) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New incidenttype', new_incidenttype_path %>